/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 3207572 */
  src: url('//at.alicdn.com/t/c/font_3207572_w55ubwc4mnl.woff2?t=1661326886894') format('woff2'),
       url('//at.alicdn.com/t/c/font_3207572_w55ubwc4mnl.woff?t=1661326886894') format('woff'),
       url('//at.alicdn.com/t/c/font_3207572_w55ubwc4mnl.ttf?t=1661326886894') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}